version: '3.7'

services:
  database:
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U psadmin -d kiosk"]
      interval: 5s
      timeout: 5s
      retries: 5

    container_name: database
    restart: always
    ports:
      - "5432:5432"

    env_file:
      - ./dev-env/database.env

    image: postgres:17.6-alpine

    volumes:
      - ./database/data:/var/lib/postgresql/data

    networks:
     - kiosk-network


networks:
  kiosk-network:
    driver: bridge