version: '3.7'

services:
  database:
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U psadmin -d max_feedback"]
      interval: 5s
      timeout: 5s
      retries: 5

    container_name: database
    restart: always
    ports:
      - "5432:5432"

    env_file:
      - ./dev-env/database.env

    image: postgres:17.6-alpine

    volumes:
      - ./database/data:/var/lib/postgresql/data

    networks:
     - murman-koncult-bot-network

  django-app:
    container_name: django-app
    build:
      context: ./django_app
      dockerfile: Dockerfile.dev
    env_file: ./dev-env/django_app.env

    volumes:
      - ./django_logs:/max_bot_control_panel/logs
    ports:
      - 8000:8000
    depends_on:
      - database

    networks:
      - murman-koncult-bot-network

  bot:
    build:
      context: ./ts_bot
      dockerfile: dockerfile
    restart: always
    env_file: ./dev-env/.env
    volumes:
      - ./bot_logs:/home/murman_konsult_bot/logs
    depends_on:
      - django-app
    networks:
      - murman-koncult-bot-network


networks:
  murman-koncult-bot-network:
    driver: bridge